---
title: Routing
---

## Cloud Foundry Routing

<li><a href="./routes-domains.html">Routes and Domains for Cloud Foundry Apps</a></li>

<li><a href="./manage-domains-routes.html">Managing Cloud Foundry Domains and Routes</a></li>

<li><a href="./enabling_ipv6.html.md.erb">Enabling IPv6 for Hosted Applications</a></li>

<li><a href="../concepts/architecture/router.html">(Go)Router</a></li>

<li><a href="./securing-traffic.html">Securing Traffic into Cloud Foundry</a></li>
